.App{
  height: 100vh;
  padding-top: 10px;
  background-color: rgb(224, 115, 224);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-wrap: wrap; /*se reajusta dependiendo del tramaño*/
  justify-content: center;
  align-items: center;
}

.logo-cont{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 40px;
}

.cont-calc{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 30px;
  border: 5px solid white;
}

.fila{
  margin: 4px;
  display: flex; /*no se incluye para que se muestren en una fila*/
  align-items: center;
  justify-content: center;
}